@main-color: #da3b34;
@second-color: #d52775;
@backgorund-color: rgba(255, 255, 255, 0.7);
@mobile: ~"only screen and (max-width: 768px)";
@font-face {
  font-family: "Title Font";
  src: url("../fonts/titleFont.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: Arial;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  overflow: hidden;
}
.main {
  width: 100%;
  height: 100%;
  overflow: hidden;
  // overflow-y: auto;
  .view {
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    &.view-multi {
      background-color: blue;
      .view-sub {
        height: 100%;
        float: left;
      }
    }
  }
  .view-red {
    background-color: rgba(0, 0, 0, 0);
  }
  .view-green {
    background-color: green;
  }
}
// =================
// init ============
// =================
.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  img {
    width: 100%;
    height: 100%;
    @media @mobile {
      width: 200%;
      left: -50%;
      position: relative;
    }
  }
}
.about,
.contactUs,
.home,
.post,
.register,
.trust {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.btn.btn-default {
  background-color: @main-color;
  border: @main-color 1px solid;
  color: white;
  &:hover {
    background-color: @main-color;
    border: white 1px solid;
    color: white;
  }
}
.btn.btn-primary {
  background-color: #354c8c;
  // border: @main-color 1px solid;
  // color: white;
  &:hover {
    background-color: #354c8c;
    // border: white 1px solid;
    // color: white;
  }
}
.fp-controlArrow.fp-prev {
  border-right-color: rgba(255,255,255,0.5) !important;
}
.fp-controlArrow.fp-next {
  border-left-color: rgba(255,255,255,0.5) !important;
}
.form-control {
  background-color: rgba(255, 255, 255, 0.7) !important;
  &:focus {
    border: @main-color 2px solid !important;
    background-color: rgba(255, 255, 255, 0.9) !important;
  }
}
#fp-nav{
  top: 20% !important;
}
// ================
// menu ===========
// ================
.mobile-menu {
  background-color: black !important;
  ul {
    height: 100%;
    li {
      text-align: center;
      list-style-type: none;
      height: 100%/6;
      font-family: "Title Font";
      font-size: 2em;
      cursor: pointer;
      transition: all 0.5s;
      color: white;
      &:before {
        content: '';
        width: 0;
        height: 100%;
        display: inline-block;
        position: relative;
        vertical-align: middle;
        //background:#f00;
      }
      &:hover {
        color: @main-color;
      }
      span {
        font-family: "Title Font";
      }
      img {
        width: 2em;
      }
    }
  }
}
// ================
// loading page ===
// ================
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
  transition: all 2s;
  .background {
    transition: all 0.5s;
    img {
      filter: grayscale(1);
      -webkit-filter: grayscale(1);
    }
  }
  .loadingImg {
    -webkit-animation: rotateimage 2s linear infinite;
    animation: rotateimage 2s linear infinite;
    @-webkit-keyframes rotateimage {
      0% {
        -webkit-transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(360deg);
      }
    }
    @keyframes rotateimage {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}
// ================
// home page ======
// ================
.home {
  .background {
    img {
      filter: grayscale(1);
      -webkit-filter: grayscale(1);
    }
  }
  .slogan {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    div {
      // background-color: @backgorund-color;
      padding: 3em 2em;
      text-align: center;
      h1 {}
      span {
        font-weight: 800;
        color: @main-color;
        color: rgba(0, 0, 0, 0);
        transition: all 2s;
      }
    }
  }
  .control-image {
    position: absolute;
    //width: 1px;
    right: 1em;
    bottom: 1em;
    img {
      width: 4em;
    }
  }
}
// ================
// about page =====
// ================
.about {
  position: relative;
  .background {}
  .mask {
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    width: 50%;
    height: 100%;
  }
  .context {
    position: absolute;
    z-index: 2;
    width: 100%;
    .circuit,
    .slogan {
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 0 3em;
      .icon {
        padding: 3em 2em;
        text-align: center;
        font-weight: bold;
        img {
          width: 250px;
          height: 150px;
          @media @mobile {
            width: 150px;
            height: 100px;
          }
        }
        h2 {
          @media @mobile {
            display: none;
          }
        }
        span {
          color: @main-color;
        }
        &.icon-white {
          color: white;
          span {
            color: #f0635c;
          }
        }
        &.icon-white {
          color: white;
          span {
            color: #f0635c;
          }
        }
      }
    }
    .circuit {
      @media @mobile {
        padding-top: 1em;
      }
      padding-top: 3em;
      padding-left: 10%;
      padding-right: 10%;
      div {
        @media @mobile {
          width: 40%;
        }
        position: relative;
        width: 15%;
        img {
          width: 100%;
          height: 100%;
        }
        p {
          position: absolute;
          font-weight: bold;
          top: 45%;
          left: 0;
          right: 0;
          text-align: center;
          z-index: 3;
        }
      }
      div:hover {
        -webkit-filter:brightness(1.2);
        filter:brightness(1.2);
        cursor: pointer;
      }
      img {
        width: 10%;
        height: 10%;
      }
    }
  }
}
// ================
// truth page =====
// ================
.fp-slides {
  //background-color: @main-color;
  top: -20px;
}
.truth {
  width: 100%;
  height: 80%;
  .background {
    transition: all 1s;
    &.yellow {
      background-color: #dec646;
    }
    &.gray {
      background-color: #525252;
    }
    &.green {
      background-color: #54cc84;
    }
  }
  .content {
    a,
    div {
      transition: all 2s;
    }
    &.yellow {
      a,
      div {
        color: #8c7e34;
      }
    }
    &.gray {
      a,
      div {
        color: white;
      }
    }
    &.green {
      a,
      div {
        color: black;
      }
    }
    //width: 100%;
    // height: 100%;
    margin: 0 5em;
    //box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.5);
    .left,
    .right {
      height: 100%;
      padding: 3em 1em;
    }
    .left {
      width: 70%;
      // background-color: green;
      float: left;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      .image {
        width: 100%;
        text-align: center;
        img {
          //max-width: 80%;
          height: 100%;
        }
      }
    }
    .right {
      width: 30%;
      // background-color: blue;
      float: right;
      word-break: break-all !important;
      .fb-mobile {
        display: none;
      }
    }
    .clear {
      clear: both;
    }
    @media @mobile {
      margin: 0;
      .left,
      .right {
        width: 100%;
        float: left;
        padding: 0 1em;
      }
      .left {
        padding: 0 1em;
      }
      .right {
        padding: 1em;
        .fb-computer {
          display: none;
        }
        .fb-mobile {
          display: inline-block;
        }
      }
    }
  }
}
// ================
// post page ======
// ================
.post {
  .background {
    img {
      // filter: blur(5px);
      // -webkit-filter: blur(5px);
      filter: grayscale(1);
      -webkit-filter: grayscale(1);
    }
  }
  .bigtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20%;
    text-align: center;
    div {
      font-size: 5em;
      font-family: "Title Font";
      color: white;
      @media @mobile {
        font-size: 2.5em;
      }
    }
    @media @mobile {
      height: 10%;
    }
  }
  .post-form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80%;
    form {
      max-width: 700px;
      width: 700px;
      color: white;
      padding: 0 2em;
    }
    @media @mobile {
      height: 90%;
    }
  }
}
// ================
// register page ==
// ================
// ================
// contactUs page =
// ================
.contactUs {
  clear: both;
  .background {}
  .member {
    float: left;
    display: inline;
    background-color: gray;
    width: 22.5%;
    height: 50%;
    margin-left: 2%;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    .memberPic {
      width: 80%;
      margin-left: 10%;
    }
    .memberName {
      text-align: center;
      font-family: "微軟正黑體";
      font-size: 2.5em;
      color: white;
      margin-top: 5%;
      @media @mobile {
        font-size: 1.5em;
      }
    }
    .intro {
      height: 40%;
      font-family: "微軟正黑體";
      font-size: 1.5em;
      color: white;
      display: none;
      margin: 20%;
      @media @mobile {
        font-size: 0.75em;
      }
    }
    .showIntro {
      display: block;
    }
  }
  .contact {
    position: absolute;
    bottom: 0;
    height: 50%;
    width: 100%;
    div {
      text-align: center;
      font-family: "微軟正黑體";
      .memberPic {
        width: 80%;
        margin-left: 10%;
      }
      .memberName {
        text-align: center;
        font-family: "微軟正黑體";
        font-size: 2.5em;
        color: white;
        margin-top: 5%;
        @media @mobile {
          font-size: 1.5em;
        }
      }
      .intro {
        height: 40%;
        font-family: "微軟正黑體";
        font-size: 1.5em;
        color: white;
        display: none;
        margin: 20%;
        @media @mobile {
          font-size: 0.75em;
        }
      }
      .showIntro {
        display: block;
      }
    }
    .contact {
      position: absolute;
      bottom: 0;
      height: 50%;
      width: 100%;
      div {
        text-align: center;
        font-family: "微軟正黑體";
        font-size: 3em;
        color: black;
      }
    }
  }
  // ================
  // pace page ======
  // ================
  .pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    width: 100%;
    height: 12px;
    background: #fff;
  }
  .pace-inactive {
    display: none;
  }
  .pace .pace-progress {
    background-color: #29d;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 100%;
    width: 100%;
    overflow: hidden;
  }
  .pace .pace-activity {
    position: fixed;
    top: 0;
    right: -32px;
    bottom: 0;
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.2)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.2)), color-stop(0.75, rgba(255, 255, 255, 0.2)), color-stop(0.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    -webkit-background-size: 32px 32px;
    -moz-background-size: 32px 32px;
    -o-background-size: 32px 32px;
    background-size: 32px 32px;
    -webkit-animation: pace-theme-barber-shop-motion 500ms linear infinite;
    -moz-animation: pace-theme-barber-shop-motion 500ms linear infinite;
    -ms-animation: pace-theme-barber-shop-motion 500ms linear infinite;
    -o-animation: pace-theme-barber-shop-motion 500ms linear infinite;
    animation: pace-theme-barber-shop-motion 500ms linear infinite;
  }
  @-webkit-keyframes pace-theme-barber-shop-motion {
    0% {
      -webkit-transform: none;
      transform: none;
    }
    100% {
      -webkit-transform: translate(-32px, 0);
      transform: translate(-32px, 0);
    }
  }
  @-moz-keyframes pace-theme-barber-shop-motion {
    0% {
      -moz-transform: none;
      transform: none;
    }
    100% {
      -moz-transform: translate(-32px, 0);
      transform: translate(-32px, 0);
    }
  }
  @-o-keyframes pace-theme-barber-shop-motion {
    0% {
      -o-transform: none;
      transform: none;
    }
    100% {
      -o-transform: translate(-32px, 0);
      transform: translate(-32px, 0);
    }
  }
  @-ms-keyframes pace-theme-barber-shop-motion {
    0% {
      -ms-transform: none;
      transform: none;
    }
    100% {
      -ms-transform: translate(-32px, 0);
      transform: translate(-32px, 0);
    }
  }
  @keyframes pace-theme-barber-shop-motion {
    0% {
      transform: none;
      transform: none;
    }
    100% {
      transform: translate(-32px, 0);
      transform: translate(-32px, 0);
    }
  }

}
