<div class="about">

  <div class="background">
    <img src="images/truthBack.jpg" alt="" />
  </div>

    <div class = "mask"></div>

    <div class = "context">
      <div class="slogan">
        <div class = "icon">
          <img src="images/eye.png" alt="">
          <h2>Seeing is Be<span>lie</span>ving?</h2>
        </div>
        <div class = "icon">
          <img src="images/fact.png" alt="">
          <h2>Seeking for <span>TRUTH!</span></h2>
        </div>

      </div>

      <div class= "circuit">
        <div id ="ask">
          <img src="images/circuit_circle.png" alt=""/>
          <p>匿名投稿</p>
        </div>
        <img src="images/circuit_arraw.png" alt=""/>
        <div id = "truth">
          <img src="images/circuit_circle.png" alt=""/>
          <p>揭發真相</p>
        </div>

      </div>
    </div>


</div>
