<div class="contactUs">
  <div class="background">
    <img src="images/ContactUsBack.jpg" alt="">
  </div>
  <div class="member">
    <img class="memberPic" src="images/testMember.png" alt="">
    <div class="memberName">
      趙紹安
    </div>
    <div class="intro">
      只是個叉燒。
    </div>
  </div>
  <div class="member">
    <img class="memberPic" src="images/testMember.png" alt="">
    <div class="memberName">
      黃育舒
    </div>
    <div class="intro">
      這裡打自介喔xD
    </div>
  </div>
  <div class="member">
    <img class="memberPic" src="images/testMember.png" alt="">
    <div class="memberName">
      郭育隆
    </div>
    <div class="intro">
      這裡打自介喔xD
    </div>
  </div>
  <div class="member">
    <img class="memberPic" src="images/testMember.png" alt="">
    <div class="memberName">
      吳品儒
    </div>
    <div class="intro">
      這裡打自介喔xD
    </div>
  </div>
  <div class="contact">
    <div>聯絡信箱</div>
  </div>
</div>
