<div class="contactUs">
  <div class="background">
    <img src="images/ContactUsBack.jpg" alt="">
  </div>
  <div class="member">
    <img class="memberPic" src="images/testMember.png" alt="">
    <div class="memberName">
      趙紹安
    </div>
    <div class="intro">
      只是個叉燒。
    </div>
  </div>
  <div class="member">
    <img class="memberPic" src="images/testMember.png" alt="">
    <div class="memberName">
      黃育舒
    </div>
    <div class="intro">
      這裡打自介喔xD
    </div>
  </div>
  <div class="member">
    <img class="memberPic" src="images/testMember.png" alt="">
    <div class="memberName">
      郭育隆
    </div>
    <div class="intro">
      這裡打自介喔xD
    </div>
  </div>
  <div class="member">
    <img class="memberPic" src="images/testMember.png" alt="">
    <div class="memberName">
      吳品儒
    </div>
    <div class="intro">
      這裡打自介喔xD
    </div>
  </div>
  <div class="contact">
    <div class="bigtitle">聯絡我們</div>
    <div class="contact-form">
      <div>
        <labe class="col-md-2 col-sm-2 col-xs-12 control-label">主旨</labe>
        <div class="col-md-10 col-sm-4 col-xs-6">
          <input type="text" name="title" id="" class="form-control" placeholder="主旨">
        </div>
      </div>
      <div>
        <labe class="col-md-2 col-sm-2 col-xs-12 control-label">回覆信箱</labe>
        <div class="col-md-10 col-sm-4 col-xs-6">
          <input type="email" name="email" id="" class="form-control" placeholder="example@gmail.com">
        </div>
      </div>
      <div>
        <labe class="col-md-2 col-sm-2 col-xs-12 control-label">分類</labe>
        <div class="col-md-10 col-sm-4 col-xs-6">
          <select class="form-control" name="kind" id="">
            <option value="0">Bug回報</option>
            <option value="1">其他意見</option>
          </select>
        </div>
      </div>
      <div>
        <labe class="col-md-2 col-sm-2 col-xs-12 control-label">內容</labe>
        <div class="col-md-10 col-sm-4 col-xs-6">
          <textarea type="text" rows="3" name="report" id="" class="form-control" placeholder="回報內容"></textarea>
        </div>
      </div>
      <div>
        <div class="contactBtn">
          <button type="submit" class="btn btn-default btn-block">送出</button>
        </div>
      </div>
    </div>
  </div>
</div>
