<div class="contactUs">
  <div class="background">
    <img src="images/ContactUsBack.jpg" alt="">
  </div>
  <div class="member">
    <img class="memberPic" src="images/testMember.png" alt="">
    <div>
      趙紹安
    </div>
  </div>
  <div class="member">
    <img class="memberPic" src="images/testMember.png" alt="">
    <div>
      黃育舒
    </div>
  </div>
  <div class="member">
    <img class="memberPic" src="images/testMember.png" alt="">
    <div>
      郭育隆
    </div>
  </div>
  <div class="member">
    <img class="memberPic" src="images/testMember.png" alt="">
    <div>
      郭育隆
    </div>
  </div>
</div>
