<div class="header">
  <div class="veil">

  </div>
  <a href="javascript: void(0)" class="mobile-menu-button effect">
    <span class="bar"></span>
  </a>
  <div class="mobile-menu">
    <ul>
      <li>Home</li>
      <li>About</li>
      <li>Truth</li>
      <li>Post</li>
      <li>Contact</li>
      <li>
        <!-- <div
        class="fb-login-button"
        data-max-rows="1"
        data-size="xlarge"
        data-show-faces="false"
        data-auto-logout-link="true">
        </div> -->

        <img src="images/facebook-white.png" border="0" alt="">
        <span id="fb_button"></span>
      </li>
    </ul>
  </div>
</div>
